In [110]:
import pandas as pd

In [111]:
df = pd.read_csv(r"C:\Users\giris\Downloads\cs-training.csv\cs-training.csv")

In [112]:
df.head()

,Unnamed: 0,SeriousDlqin2yrs,RevolvingUtilizationOfUnsecuredLines,age,NumberOfTime30-59DaysPastDueNotWorse,DebtRatio,MonthlyIncome,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,NumberOfTime60-89DaysPastDueNotWorse,NumberOfDependents
0,1,1,0.766127,45,2,0.802982,9120.0,13,0,6,0,2.0
1,2,0,0.957151,40,0,0.121876,2600.0,4,0,0,0,1.0
2,3,0,0.658180,38,1,0.085113,3042.0,2,1,0,0,0.0
3,4,0,0.233810,30,0,0.036050,3300.0,5,0,0,0,0.0
4,5,0,0.907239,49,1,0.024926,63588.0,7,0,1,0,0.0

In [113]:
df = df.drop('Unnamed: 0', axis=1)
df.head()

,SeriousDlqin2yrs,RevolvingUtilizationOfUnsecuredLines,age,NumberOfTime30-59DaysPastDueNotWorse,DebtRatio,MonthlyIncome,NumberOfOpenCreditLinesAndLoans,NumberOfTimes90DaysLate,NumberRealEstateLoansOrLines,NumberOfTime60-89DaysPastDueNotWorse,NumberOfDependents
0,1,0.766127,45,2,0.802982,9120.0,13,0,6,0,2.0
1,0,0.957151,40,0,0.121876,2600.0,4,0,0,0,1.0
2,0,0.658180,38,1,0.085113,3042.0,2,1,0,0,0.0
3,0,0.233810,30,0,0.036050,3300.0,5,0,0,0,0.0
4,0,0.907239,49,1,0.024926,63588.0,7,0,1,0,0.0

In [114]:
df = df.rename(columns={
    "SeriousDlqin2yrs": "Default_In_2yrs",
    "RevolvingUtilizationOfUnsecuredLines": "Credit_Utilization",
    "age": "Age",
    "NumberOfTime30-59DaysPastDueNotWorse": "Past_Due30_59",
    "DebtRatio": "Debt_IncomeRatio",
    "MonthlyIncome": "Monthly_Income",
    "NumberOfOpenCreditLinesAndLoans": "Open_Credit_Lines",
    "NumberOfTimes90DaysLate": "Past_Due90",
    "NumberRealEstateLoansOrLines": "Real_Estate_Loans",
    "NumberOfTime60-89DaysPastDueNotWorse": "Past_Due60_89",
    "NumberOfDependents": "Dependents"
})

In [115]:
df.head()

,Default_In_2yrs,Credit_Utilization,Age,Past_Due30_59,Debt_IncomeRatio,Monthly_Income,Open_Credit_Lines,Past_Due90,Real_Estate_Loans,Past_Due60_89,Dependents
0,1,0.766127,45,2,0.802982,9120.0,13,0,6,0,2.0
1,0,0.957151,40,0,0.121876,2600.0,4,0,0,0,1.0
2,0,0.658180,38,1,0.085113,3042.0,2,1,0,0,0.0
3,0,0.233810,30,0,0.036050,3300.0,5,0,0,0,0.0
4,0,0.907239,49,1,0.024926,63588.0,7,0,1,0,0.0

In [116]:
df.isnull().sum()

Default_In_2yrs           0
Credit_Utilization        0
Age                       0
Past_Due30_59             0
Debt_IncomeRatio          0
Monthly_Income        29731
Open_Credit_Lines         0
Past_Due90                0
Real_Estate_Loans         0
Past_Due60_89             0
Dependents             3924
dtype: int64

In [117]:
df.shape

(150000, 11)

In [118]:
df.describe()

,Default_In_2yrs,Credit_Utilization,Age,Past_Due30_59,Debt_IncomeRatio,Monthly_Income,Open_Credit_Lines,Past_Due90,Real_Estate_Loans,Past_Due60_89,Dependents
count,150000.000000,150000.000000,150000.000000,150000.000000,150000.000000,1.202690e+05,150000.000000,150000.000000,150000.000000,150000.000000,146076.000000
mean,0.066840,6.048438,52.295207,0.421033,353.005076,6.670221e+03,8.452760,0.265973,1.018240,0.240387,0.757222
std,0.249746,249.755371,14.771866,4.192781,2037.818523,1.438467e+04,5.145951,4.169304,1.129771,4.155179,1.115086
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.029867,41.000000,0.000000,0.175074,3.400000e+03,5.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.154181,52.000000,0.000000,0.366508,5.400000e+03,8.000000,0.000000,1.000000,0.000000,0.000000
75%,0.000000,0.559046,63.000000,0.000000,0.868254,8.249000e+03,11.000000,0.000000,2.000000,0.000000,1.000000
max,1.000000,50708.000000,109.000000,98.000000,329664.000000,3.008750e+06,58.000000,98.000000,54.000000,98.000000,20.000000

In [119]:
df.duplicated()

0         False
1         False
2         False
3         False
4         False
          ...
149995    False
149996    False
149997    False
149998    False
149999    False
Length: 150000, dtype: bool

In [120]:
from sklearn.model_selection import train_test_split
X = df.drop(columns=['Default_In_2yrs'])
y = df['Default_In_2yrs']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, stratify=y, random_state=42)

print(X_train.shape)
print(y_train.shape)

print(X_test.shape)
print(y_test.shape)

(120000, 10)
(120000,)
(30000, 10)
(30000,)

In [121]:
y_train.value_counts()

Default_In_2yrs
0    111979
1      8021
Name: count, dtype: int64

In [122]:
X_train['Age_cat'] = pd.cut(
    X_train['Age'],
    bins=[0, 25, 40, 60, 120],
    labels=['Young', 'Adult', 'Middle_Aged', 'Senior']
)
X_train.head()

,Credit_Utilization,Age,Past_Due30_59,Debt_IncomeRatio,Monthly_Income,Open_Credit_Lines,Past_Due90,Real_Estate_Loans,Past_Due60_89,Dependents,Age_cat
57836,0.114987,62,0,1841.000000,NaN,5,0,1,0,2.0,Senior
132895,0.008705,73,0,0.498553,3800.0,6,0,1,0,0.0,Senior
27981,0.214501,32,0,0.211999,3716.0,8,0,0,0,2.0,Adult
37852,1.000000,60,0,118.000000,NaN,5,0,0,0,0.0,Middle_Aged
103813,0.230493,60,0,1.017328,3000.0,10,0,1,0,0.0,Middle_Aged

In [123]:
age_median_map = (X_train.groupby('Age_cat')['Age'].median())

age_median_map

Age_cat
Young          24.0
Adult          34.0
Middle_Aged    50.0
Senior         68.0
Name: Age, dtype: float64

In [124]:
X_train['Dependents_cat'] = pd.cut(
    X_train['Dependents'],
    bins=[-1, 1, 3, 6, 20],
    labels=['None', 'Small', 'Medium', 'Large']
)

In [125]:
dep_median_map = (X_train.groupby('Dependents_cat')['Dependents'].median())

dep_median_map

Dependents_cat
None      0.0
Small     2.0
Medium    4.0
Large     7.0
Name: Dependents, dtype: float64

In [126]:
X_train['Dependents'] = X_train['Dependents'].fillna(
    X_train['Dependents_cat'].map(dep_median_map)
)

X_train['Dependents'] = X_train['Dependents'].fillna(
    X_train['Dependents'].median()
)
X_train.isna().sum()

Credit_Utilization        0
Age                       0
Past_Due30_59             0
Debt_IncomeRatio          0
Monthly_Income        23675
Open_Credit_Lines         0
Past_Due90                0
Real_Estate_Loans         0
Past_Due60_89             0
Dependents                0
Age_cat                   1
Dependents_cat         3128
dtype: int64

In [127]:
X_test['Age_cat'] = pd.cut(
    X_test['Age'],
    bins=[0, 25, 40, 60, 120],
    labels=['Young', 'Adult', 'Middle_Aged', 'Senior']
)

X_test['Dependents_cat'] = pd.cut(
    X_test['Dependents'],
    bins=[-1, 1, 3, 6, 20],
    labels=['None', 'Small', 'Medium', 'Large']
)

dep_median_map = (X_test.groupby('Dependents_cat')['Dependents'].median())

X_test['Dependents'] = X_test['Dependents'].fillna(
    X_test['Dependents_cat'].map(dep_median_map)
)

X_test['Dependents'] = X_test['Dependents'].fillna(
    X_test['Dependents'].median()
)

In [128]:
numerical_features = [
    "Age",
    "Dependents",
    "Monthly_Income",
    "Real_Estate_Loans",
    "Debt_IncomeRatio",
    "Credit_Utilization",
    "Open_Credit_Lines",
    "Past_Due30_59",
    "Past_Due60_89",
    "Past_Due90"
]

categorical_features = [
    "Age_cat",
    "Dependents_cat"
]

In [129]:
from sklearn.compose import ColumnTransformer
from sklearn.impute import SimpleImputer
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import OneHotEncoder, StandardScaler

num_pipeline = Pipeline(steps=[
    ("imputer", SimpleImputer(strategy="median"))
])

cat_pipeline = Pipeline(steps=[
    ("imputer", SimpleImputer(strategy="most_frequent")),
    ("encoder", OneHotEncoder(handle_unknown="ignore"))
])

preprocessor = ColumnTransformer(
    transformers=[
        ("num", num_pipeline, numerical_features),
        ("cat", cat_pipeline, categorical_features)
    ]
)

In [132]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import classification_report
model = RandomForestClassifier(n_estimators=400,max_depth=6,class_weight="balanced",random_state=42,)

pipeline = Pipeline(steps=[
    ("preprocessing", preprocessor),
    ("model", model)
])

In [131]:
pipeline.fit(X_train, y_train)

y_pred = pipeline.predict(X_test)

print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.98      0.78      0.87     27995
           1       0.20      0.79      0.32      2005

    accuracy                           0.78     30000
   macro avg       0.59      0.79      0.60     30000
weighted avg       0.93      0.78      0.83     30000